@model List<webFinal2.Models.Soru>

@{
    ViewBag.Title = "Sonuc";
}

<h2>Sonuc</h2>

<div class="table">
    <table id="cevapListesi">
        <thead>
            <tr>
                <th>SORU 1</th>
                <th>SORU 2</th>
                <th>SORU 3</th>
                <th>SORU 4</th>
                <th>SORU 5</th>
                <th>SİL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.</td>
                    <td>@item.1</td>
                    <td>@item.2</td>
                    <td>@item.3</td>
                    <td>@item.4</td>

                    <td>
                        <input type="submit" name="btn" value="SİL" class="btn btn-danger btnSil" data-id="@item.question1" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script type="text/javascript" src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


<script>
    $(document).ready(function () {
        $("#cevapListesi").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>
